.custom-navbar {
    background-color: #000000; /* Usando código de cor hexadecimal para um tom de roxo */
    /* Você pode ajustar a tonalidade de roxo conforme desejado */
}

.custom-posiston{
    position: 'absolute';
}

.custom-list{
    position: fixed;
    margin-left: 30px;
    margin-top: 410px;
}